canvas {
	width: 100%;
	height: 100%;
	background: black;
}

body, html {
	height: 100%;
	margin: 0;
}

p {
    color: white;
    background: black;
    font-family: "Lucida Grande", verdana, sans-serif;
    font-size: 14px;
    font-weight:bold;
    line-height: 32px;
    padding: 0 16px;
    text-align: center;
}
